<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <div class="top">
      <h1><a href="/">BOOK LOGGER</a></h1>
      <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </nav>
    </div>
    <h2>Login</h2>
    <% if (messages.error) { %>
    <p class="error-msg"><%= messages.error %></p>
    <% } %>
    <form action="/login" method="POST" class="wrapper">
      <div class="form-input">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="text-input"
          required
        />
      </div>
      <div class="form-input">
        <label for="password">Password</label><br />
        <input
          type="password"
          id="password"
          name="password"
          class="text-input"
          required
        />
      </div>
      <button type="submit" class="button login">Sign In</button>
    </form>
  </body>
</html>
